// 30 may 2015
#include "winapi.h"
#include "resources.h"

// this is a UTF-8 file
#pragma code_page(65001)

// this is the Common Controls 6 manifest
// TODO set up the string values here
ISOLATIONAWARE_MANIFEST_RESOURCE_ID RT_MANIFEST "libui.manifest"

// this is the dialog template used by tab pages; see windows/tabpage.c for details
rcTabPageDialog DIALOGEX 0, 0, 100, 100
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
BEGIN
	// nothing
END

// this is for our custom DirectWrite-based font dialog (see fontdialog.cpp)
// this is based on the "New Font Dialog with Syslink" in Microsoft's font.dlg
// TODO look at localization
// TODO make it look tighter and nicer like the real one, including the actual heights of the font family and style comboboxes
rcFontDialog DIALOGEX 13, 54, 243, 200
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION "Font"
FONT 9, "Segoe UI"
BEGIN
	LTEXT		"&Font:", -1, 7, 7, 98, 9
	COMBOBOX	rcFontFamilyCombobox, 7, 16, 98, 76,
		CBS_SIMPLE | CBS_AUTOHSCROLL | CBS_DISABLENOSCROLL |
		CBS_SORT | WS_VSCROLL | WS_TABSTOP | CBS_HASSTRINGS

	LTEXT		"Font st&yle:", -1, 114, 7, 74, 9
	COMBOBOX	rcFontStyleCombobox, 114, 16, 74, 76,
		CBS_SIMPLE | CBS_AUTOHSCROLL | CBS_DISABLENOSCROLL |
		WS_VSCROLL | WS_TABSTOP | CBS_HASSTRINGS

	LTEXT		"&Size:", -1, 198, 7, 36, 9
	COMBOBOX	rcFontSizeCombobox, 198, 16, 36, 76,
		CBS_SIMPLE | CBS_AUTOHSCROLL | CBS_DISABLENOSCROLL |
		CBS_SORT | WS_VSCROLL | WS_TABSTOP | CBS_HASSTRINGS

	GROUPBOX		"Sample", -1, 7, 97, 227, 70, WS_GROUP
	CTEXT			"AaBbYyZz", rcFontSamplePlacement, 9, 106, 224, 60, SS_NOPREFIX | NOT WS_VISIBLE

	DEFPUSHBUTTON	"OK", IDOK, 141, 181, 45, 14, WS_GROUP
	PUSHBUTTON		"Cancel", IDCANCEL, 190, 181, 45, 14, WS_GROUP
END
