// 30 may 2015

// this is a UTF-8 file
#pragma code_page(65001)

// this is the Common Controls 6 manifest
// TODO set up the string values here
// 1 is the value of CREATEPROCESS_MANIFEST_RESOURCE_ID and 24 is the value of RT_MANIFEST; we use it directly to avoid needing to share winapi.h with the tests and examples
#ifndef _UI_STATIC
1 24 "test.manifest"
#else
1 24 "test.static.manifest"
#endif
